:root {
  --yellowTeeth: #F9F9ED;
  --skinColor: #FFD0BF;
  --paleBlue: #ECF1FE;
  --whiteTeeth: #FCFCFC;
  --blindBlack: #122525;
  --sunset : linear-gradient(180deg, #F9F9ED 0%, #FFD0BF 100%);
  --sunrise: linear-gradient(135deg, #F9F9ED 0%, #ECF1FE 100%);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;
  background: var(--sunset);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}